<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>User Profile</title>
 <link rel="stylesheet" href="/style3.css">
</head>
<body>
 <h1>User Profile</h1>
 <div class="user-events">
  <% bookedEvents.forEach(event => { %>

            <figure>

              <img src="<%= event.event.imagePath %>" alt="event image">
              <figcaption><%= event.event.textbox4 %></figcaption>
          </figure>
          <% }); %>

 </div>
</body>
</html>
<!--
        <% bookedEvents.forEach(event => { %>

  <p>Location: <%= event.event.dropdown2 %></p>
        <% }); %>

-->
