
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Global styles */
.body-events{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    display: flex;
}
.body-home{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fbfbfc;
}
.similar-events{
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .logo {
        font-size: 4vw; /* Adjust font size for smaller screens */
    }
    .box {
        margin-top: 10px; /* Adjust margins for smaller screens */
    }
    .dropdown, .logout-home {
        right: 20px; /* Adjust position for smaller screens */
    }
}

header {
    height: 90px;
    background: black;
}
#date-header{
    color: #f0e5c7;
    font-size: 20px;
    padding-left: 20px;
}
#from-date{
    border-radius: 10px;
}
#to-date{
    border-radius: 10px;
}
#sandwich{
    padding-right: 5px;
    font-size:40px;
    cursor:pointer;
    color: #c3073f;
}

.d-none.d-lg-flex.me-5.ms-lg-auto.ms-lg-5.justify-content-lg-end {
    color: #f0e5c7;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .d-lg-none {
        display: block;
    }
    .d-lg-flex, .nav-item.dropdown.d-lg-none > .btn {
        display: none;
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.container-fluid h1 {
    color: #c3073f;
    font-family: 'Poppins', sans-serif;
}

#searchInput {
    border-radius: 20px; /* Rounded corners */
    width: 300px;
}

.btn-outline-success {
    background-color: #f0e5c7; /* Custom background color */
    border-color: #f0e5c7;
    color: black; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bold;
    border-radius: 30px;
}

.btn-outline-success:hover {
    background-color: #c3073f; /* Darker background color on hover */
    border-color: #c3073f;
}


.list-container{
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-container{
padding-top: 20px;}
.event-card {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 450px;
    margin: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;

}
#link-card{
  text-decoration: none;
}
/* styles.css */
.user-events{
    display: flex;
    flex-wrap: wrap;
}
/* Define a container for icon and text to display them inline */
.icon-text-container {
  display: flex; /* Use flexbox to place items in a row */
  align-items: center; /* Align items vertically */
  color: #333;
}
#book-now{
  color: black;
}

/* Style the icon */
.icon-text-container i {
  margin-right: 5px; /* Add some spacing between the icon and text */
}


.event-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.event-card img {
    width: 100%;
    height: auto;
}

.event-card h3, .event-card p, .event-card h4 {
    margin: 5px 0;
    padding-left: 7px;
}
#icons-event-details{
    position: absolute;
}
.event-card h3 {
    color: #c3073f;
}
#your-events{
    font-family: Copperplate, fantasy;
    color:rgb(29, 29, 100);
    padding-left: 50px;

}
#travel-event-details{
    padding-top: 55px;
}

.your-events {
    width: 100%;
    color: #c3073f;
    padding-top: 20px;
    margin-left: 20px;
    font-weight: 900;
}

#event-card {
    text-decoration: none;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows the items to wrap onto multiple lines if needed */
    gap: 50px; /* Adjust the gap between images */
    padding: 190px; /* Add some padding around the container */
}

.image-container img {
    flex: 1 0 auto; /* Allows the images to grow and shrink as needed */
    max-width: 100%; /* Ensures the images do not exceed the container width */
    height: auto; /* Maintains the aspect ratio of the images */
}

#image {
    border-radius: 10px;
    height: 180px;
    width: 100px;
}

.col-12.col-md-8 {
    padding-left: 200px;
}

.col-12.col-md-4 {
    padding-right: 80px; /* Increase the padding on the right side to move the content to the left */
    margin-left: -50px; /* Move the entire column to the left by 50px */
}

img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Ensure the image does not exceed its parent's width */
}

.column-image {
    width: 80%;
    height: auto;
}

.d-flex.align-items-left {
    width: 30%; /* Adjust this value as needed */
}

/* Add space between image and details area */
.col-md-6:first-child {
    padding: 20px; /* Adjust as needed */
    flex: 0 0 40%;
    max-width: 40%;
}

.row {
    width: 100%; /* Full width */
    max-width: 2000px; /* Maximum width */
    margin: 0 auto; /* Center the row */
    margin-top: 20px; /* Adjust as needed */
}

/* Adjust the width for larger screens */
@media (min-width: 992px) {
    .row {
        width: 90%; /* Adjust as needed */
    }
}
.travel {
    display: flex; /* Use Flexbox to align children */
    justify-content: space-between; /* Equal space between children */
    align-items: flex-start; /* Align children to the top */
    gap: 25px; /* Gap between children */
    background: rgba(222, 191, 235, 0.822);
    border-radius:10px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
   }
   
   .icon-container {
    display: flex; /* Use Flexbox to align icon and text */
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center icon and text horizontally */
    padding-top: 25px;
    flex:1;
   }
#icons-event-details{
    position: absolute;
}

#view-details{
    background-color: #c3073f;
    color: white;
    border-color: #c3073f;
}
.d-flex.align-items-left {
    padding-top: 20px;
}




#decrementButton,
#incrementButton {
    background-color: #333;
    border-color: #333;
}

.btn.btn-success.mt-3 {
    background-color: #c3073f;
    border-color: #c3073f;
}

.btn.btn-success.mt-3:hover {
    background-color: red;
}


/* If you want to space the icons evenly, you might need to adjust their left property individually */


.col-md-6:last-child .form-control {
    width: 50px; /* Adjust as needed */
}

.col-md-6:first-child img {
    width: 100%;
    height: auto;
}

.container-fluid h1 {
    color: #c3073f;
    font-family: 'Poppins', sans-serif;
}

#searchInput {
    border-radius: 20px; /* Rounded corners */
    width: 300px;
}

.btn-outline-success {
    background-color: #f0e5c7; /* Custom background color */
    border-color: #f0e5c7;
    color: black; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bold;
    border-radius: 30px;
}

.btn-outline-success:hover {
    background-color: #c3073f; /* Darker background color on hover */
    border-color: #c3073f;
}

.col-md-6 {
    padding: 0;
}
#text-trending-card{
    padding-top: 20px;
    color: #c3073f;
    font-family: 'Times New Roman',serif;
    padding-left: 6px;
}
.image-container img{
    cursor: pointer;
}

.col-md-6:last-child {
    flex: 0 0 60%;
    max-width: 60%;
}
.carousel-test{
    align-items: center;
    width: 1691px;
    height: auto;
    padding-left: 250px;
    padding-top: 63px;

   }
.carousel-item{
    width:1500px;
    height: 700px;
}
   
   @keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
   }
 

footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 30px 0 10px;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
    font-size: 13px;
}
.row-footer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col-footer{
    flex-basis: 35%;
    padding: 10px ;

}
.col p{
    margin-bottom: 2px;
}
.col-footer:nth-child(2),.col-footer:nth-child(3) {
    flex-basis: 15%;
}
.logo-footer{
    width: 80px;
    margin-bottom: 20px;
}
.col-footer h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;

}
.email-id-footer{
    width: fit-content;
    border-bottom: 1px solid #ccc;

margin: 2px 0;
}

.col{
    padding-left: 30px;
}

.social-icons-footer .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}
.hr-footer{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.copyright-footer{
    text-align: center;
}

#trending{
    font-family:Copperplate, fantasy;
    color:rgb(29, 29, 100);
    padding-left: 50px;

}



.container-trending {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom:150px;

}

.card-trending{
    width: 470px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-trending:hover {
    transform: translateY(-10px);
}

.card-trending img {
    width: 100%; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
}

.card-content-trending {
    padding: 20px;
}

.card-trending h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.card-trending p {
    color: #555;
}

.popup{
    width: 400px;
    background-color: rgb(17, 30, 65); /* Adjust the alpha value (0.5 in this case) to set the desired transparency */
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f0e5c7;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}
#event-desc{
    font-family: georgia,serif;
}
.popup img{
    width: 240px;
margin-top:  79px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
margin-left: 44px;
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

}
.qrCode{
    align-items: center;
}
#popup-button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #c3073f;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
/* styles.css */

body {
    font-family: Arial, sans-serif;
   }
   
  
   figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 500px;
    height: 250px;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  
 